{% extends "base.html" %}

{% load  static %}

{% block css %}

{% endblock css %}

{% block js %}
  <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->

  <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>

  <!-- Add Firebase products that you want to use -->
  <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-firestore.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
      function login(){
        var firebaseConfig = {
            apiKey: "AIzaSyABH0opwFwXQero4SUnUTVQwUgn9VCoBOk",
            authDomain: "tellochat-7eaa5.firebaseapp.com",
            databaseURL: "https://tellochat-7eaa5.firebaseio.com",
            projectId: "tellochat-7eaa5",
            storageBucket: "tellochat-7eaa5.appspot.com",
            messagingSenderId: "438942755795",
            appId: "1:438942755795:web:e87dc6338210fb2508dd26",
            measurementId: "G-Y1XWXM617R"
          };
          // Initialize Firebase
          firebase.initializeApp(firebaseConfig);
          //firebase.analytics();
          var provider = new firebase.auth.GoogleAuthProvider();

          
        firebase.auth().signInWithPopup(provider).then(function(result) {
            // This gives you a Google Access Token. You can use it to access the Google API.
            var token = result.credential.idToken;
            // The signed-in user info.
            var user = result.user;
            
            user.getIdToken().then(
                function(idToken){
                    console.log(idToken)
                    var data = {
                        'token_id': idToken
                    }
                    axios.post('/api/google-login/',data).then(
                        function(response){
                            console.log(response);
                        }
                    )
                }).catch(function(error){
                    //Handle error
                })            
            // ...
          }).catch(function(error) {
            // Handle Errors here.
            var errorCode = error.code;
            var errorMessage = error.message;
            // The email of the user's account used.
            var email = error.email;
            // The firebase.auth.AuthCredential type that was used.
            var credential = error.credential;
            console.log("===========");
            console.log(error);
            console.log("===========");
            // ...
          });
      }
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
   
    
    


  </script>

{% endblock js %}